# Copy this to .env — never commit .env

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1

S3_BUCKET_NAME=desktoppilot-audio

DYNAMODB_TABLE_MEMORY=DesktopPilotMemory
DYNAMODB_TABLE_COMMANDS=DesktopPilotCommands


BEDROCK_MODEL_ID=us.anthropic.claude-haiku-4-5-20251001-v1:0

STEP_FUNCTION_ARN=arn:aws:states:us-east-1:ACCOUNT_ID:stateMachine:DesktopPilotWorkflow
